.app {
    width: 100%;
    height: 100%;
}


/* Header */

.header {
    background-repeat: no-repeat;
    background-image: url(../Multimedia/banner.jpg);
    background-size: cover;
    /* height: 400px; */
    border-radius: 0 0 20px 20px;
    text-align: center;
}

.header-text {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 10px 0;
}

h1.header-text {
    font-size: 48px;
}

h3.header-text {
    font-size: 25px;
}

.header-name {
    border: 3px solid #fefeff;
    color: #fefeff;
    text-align: center;
    animation: fadeIn 2s;
    display: inline-block;
}

.header__search-input-wrap {
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 52%; */
    margin-top: 80px;
    font-size: 2.8rem;
    padding-bottom: 60px;
}

.header__search-input {
    border: none;
    outline: none;
    /* font-size: 2.8rem; */
    color: var(--text-color);
    padding: 0 16px;
    /* line-height: 0; */
    border-radius: 2px;
}

.header__search-btn {
    background-color: #fefeff;
    border: none;
    /* height: 41px; */
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
    width: 60px;
}

.header__search-btn:hover {
    background-color: #fb645f;
    cursor: pointer;
}

.header__search-btn-icon {
    /* font-size: 1.4rem; */
    color: black;
}


/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-list {
    margin-top: 16px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    text-align: center;
    display: flex;
    list-style: none;
}

.navbar-item {
    margin: 0;
    padding: 20px;
    border-radius: 3px;
}

.navbar-item:hover {
    background-color: hsla(0, 11%, 79%, 0.01);
    animation: pulse 0.8s ease-out;
}

.navbar-link {
    text-decoration: none;
    color: #fefeff;
}

.navbar-link:hover {
    color: #fb645f;
}

.toggle_button {
    display: none;
    color: #fefeff;
}


/* Header mobile */

@media only screen and (max-width: 768px) {
    .header {
        max-width: 100%;
        /* max-height: 100%; */
    }
    .navbar {
        display: none;
    }
    .header-name {
        margin-top: 50px;
        /* font-size: 1.2rem; */
        border: 3px solid #fefeff;
        color: #fefeff;
        text-align: center;
        animation: fadeIn 2s;
    }
    h1.header-text {
        font-size: 26px;
    }
    h3.header-text {
        font-size: 12px;
    }
    .header__search-input-wrap {
        font-size: 1.7rem;
        /* width: 2rem; */
        margin-top: 50px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__search-btn {
        display: none;
    }
    .toggle_button {
        display: block;
        color: #fefeff;
        font-size: 2.05rem;
    }
    .margin-right {
        margin-right: 8px;
    }
}


/* Container */

.app__container {
    width: 100%;
}

.app__content {
    padding-top: 36px;
    margin-right: auto;
    margin-left: auto;
}


/* Catalog desktop */

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category-heading {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category-heading-icon {
    font-size: 1.4rem;
    margin-right: 6px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    left: 8px;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    /* 50% thẻ chứa nó là thẻ a */
    transform: translateY(calc(-50% - 1px));
    /* dịch chuyển theo trục Y của chihs nó 50% - 1 */
}

.category-item__link {
    position: relative;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}


/* Carousel slide image */

.carousel-item img {
    height: 350px;
    border-radius: 3px;
}

.carousel-inner {
    border-radius: 3px;
}

.category {}


/* @keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}


/* Home soft + filter */

.home-filter {
    display: flex;
    padding: 12px 22px;
    border-radius: 2px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 22px;
}

#sort .home-filter {
    margin-top: 28px;
}


/* Catalog mobile */

.catalog_list {
    display: none;
}

.card {
    margin: 8px;
    /* width: 216px; */
}

.price {
    min-width: 90px;
    height: 34px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    line-height: 1.4rem;
    justify-content: center;
    /* text-decoration: none; */
}

.price:hover {
    animation: tada 0.5s ease;
    text-decoration: none;
    /* transition: all 0.6; */
}

.price_color {
    background-color: var(--primary-color);
    color: var(--white-color);
}

#cart .grid__row {
    font-size: 1.4rem;
}

#cart .btn {
    font-size: 1.2rem;
}

#cart .home-filter {
    /*justify-content: center;*/
}

#cart .card {
    cursor: pointer;
}

#cart .card:hover {
    opacity: 0.6;
}

.page-item {
    outline: none !important;
}

@media only screen and (max-width: 768px) {
    .grid__column-2 .category {
        display: none;
    }
    .grid__column-10 {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }
    .carousel-item img {
        height: 216px;
    }
    #sort .home-filter {
        display: none;
    }
    .price {
        width: 16%;
    }
    .card {
        margin: 4px;
        width: 160px;
    }
    #cart .home-filter {
        /* width: 100%; */
        justify-content: center;
        padding: 0;
    }
    #cart .grid__row {
        width: 100%;
        margin: 0%;
    }
}

@media only screen and (max-width: 768px) {
    .app__content {
        padding-top: 14px;
    }
    .home-filter {
        margin-top: 14px;
    }
    .catalog_list {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 0;
    }
    .catalog_icon {
        font-size: 80px;
    }
    #catalog-icon {
        width: 96%;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
    }
    #catalog-icon .home-filter {
        padding-right: 5px;
    }
}


/* Footer */

.footer {
    border-radius: 20px 20px 0 0;
    background-image: linear-gradient(0, rgb(34, 38, 37), rgb(156, 152, 149));
}

.footer-social {
    font-size: 45px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    /* padding-top: 4px; */
    border-bottom: solid 2px;
    margin-top: 16px
}

.social-list {
    justify-content: center;
    padding: 10px;
    list-style: none;
    display: flex;
    margin: 5px;
}

.social-item {
    padding: 15px;
}

.social-link {}

.social-icon {
    color: #fefeff;
    /* transition: all 0.2s ease-in; */
}

.social-icon:hover {
    color: var(--primary-color);
    animation: pulse 0.8s ease;
    /* transition: all 0.5s ease; */
}

.for_us {
    display: flex;
    /* text-align: center; */
    justify-content: space-evenly;
    margin-top: 16px;
}

.self_title {
    color: #fefeff;
    font-size: 2.15rem;
}

.self_list {
    padding-left: 0;
}

.self_item:not(:last-child) {
    margin-bottom: 16px;
}

.self_link {
    color: #dabdbd;
    text-decoration: none;
    font-weight: 300;
}

.self_img {
    width: 200px;
    margin: 0;
    padding: 0;
}

.self_link:hover {
    color: #fb645f;
}

.self_title.copyright {
    text-align: center;
    padding: 16px;
}


/* Footer mobile */

@media only screen and (max-width: 768px) {
    .footer {
        font-size: 1.6rem;
    }
    .self_item .self_img {
        width: 90px;
    }
    .for_us-SIA {
        font-size: 1.4rem;
    }
    .self_item:not(:last-child) {
        margin-bottom: 8px;
    }
    .footer-social {
        font-size: 25px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        /* width: 33%; */
        /* padding-top: 4px; */
        border-bottom: solid 2px;
        margin-top: 16px
    }
    .self_title.copyright {
        /* text-align: center; */
        padding: 8px;
    }
    .self_title {
        font-size: 1.45rem;
    }
}


/* Modals */

.auth-form {
    width: 500px;
    border-radius: 4px;
    background-color: var(--white-color);
    overflow: hidden;
    /* nếu class con vượt quá class cha thì ẩn phần vượt đấy */
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin: 10px;
}

.auth__form-heading {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth__form-switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 450;
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.8rem;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socicals {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
}

.auth-form__socicals-icon {
    font-size: 1.8rem;
}

.auth-form__socicals--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__socicals--facebook .auth-form__socicals-icon {
    color: var(--white-color);
}

.auth-form__socicals--google {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__socicals-title {
    margin: 0 36px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__link-separate {
    display: block;
    height: 22px;
    margin: 1px 16px 0;
    border: 0.7px solid #eaeaea;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.bt_log {
    min-width: 90px;
    height: 34px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    line-height: 1.4rem;
    justify-content: center;
    /* text-decoration: none; */
}

.bt_log:hover {
    animation: tada 0.5s ease;
    text-decoration: none;
    /* transition: all 0.6; */
}

.bt_log-color {
    background-color: var(--primary-color);
    color: var(--white-color);
}

@media only screen and (max-width: 768px) {
    .auth-form {
        width: 80%;
    }
    .auth-form__header {
        align-items: flex-start;
    }
    .auth-form__controls {
        margin-top: 20px;
    }
    .bt_log {
        width: 16%;
    }
    .auth-form__socicals-title {
        font-size: 1.18rem;
        margin: 0;
    }
    .auth-form__socicals--google .auth-form__socicals-icon {
        margin-right: 5px;
    }
    .auth-form__socicals--facebook .auth-form__socicals-icon {
        color: var(--white-color);
        margin-right: 5px;
    }
}


/* My Acc */

.navbar-user {
    /* display: flex; */
    justify-items: center;
    position: relative;
}

.class_none {
    display: none;
}

.class_block {
    display: block;
}

.user-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-user-name {
    /* margin-left: 5px; */
    color: #fefeff;
}

.user-menu {
    position: absolute;
    padding-left: 0;
    z-index: 1;
    top: calc(100% + 4px);
    right: 0;
    width: 160px;
    list-style: none;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px #e0e0e0;
    /* overflow: hidden; */
    display: none;
}

.navbar-user:hover .user-menu {
    display: block;
}

.user-menu::before {
    /* Class tạo mũi tên ngay thông báo */
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 20px 26px;
    border-color: transparent transparent white transparent;
    top: -30px;
    right: 10px;
}

.user-menu::after {
    content: "";
    position: absolute;
    display: block;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
}

.user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
}

.user-item a:hover {
    background-color: #fafafa;
}

.user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

@media only screen and (max-width: 768px) {
    .user-img {
        width: 26.6px;
        height: 26.6px;
    }
}

.head .toggle_icon {
    font-size: 2.4rem;
    margin-right: 1.3rem;
    color: #fefeff;
    margin-top: 0.4rem;
}

.toggle_icon {
    display: none!important;
}

@media only screen and (max-width: 768px) {
    .toggle_icon {
        display: block!important;
    }
    .header__search-input {
        width: 85%;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
/*  */