
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<!-- Intro Phương Nam -->
<div class="mt-4">
    <h1 style="color: orangered;" class="text-center mb-0">
        Giới thiệu về nhà sách 
        <span class="pp">Phương Nam</span>
    </h1>
    <div class="container">
        <hr class="hr5 mx-auto mt-2">
        <p class="my-2">
            <span class="font-weight-bold">Nhà sách Phương Nam</span>Tháng 02.1982, công ty Văn hóa Dịch vụ Tổng hợp Quận 11 được thành lập, trực thuộc phòng VHTT Quận 11 chính là tiền thân của Công ty Cổ phần Văn hóa Phương Nam ngày nay. Tháng
            08.1999, trải qua quá trình phát triển lớn mạnh không ngừng, đa dạng hóa sản phẩm và dịch vụ sang các lĩnh vực như điện ảnh ( hãng phim Phương Nam), in ấn ( Xưởng in Phương Nam),... Công ty Phương Nam hoàn tất tiến trình cổ phần hóa,
            trở thành Công ty Cổ phần SXKD Vật phầm Văn hóa Phương Nam, đánh dấu một giai đoạn chuyển mình đầy cơ hội và thách thức. Tháng 05.2004, với 6 chi nhánh đặt tại các vùng trọng điểm như Hà Nội, Huế, Đà Nẵng, Cần Thơ... cùng với hơn 20
            trung tâm phát hành lớn trong cả nước, Phương Nam chính thức đổi tên thành Công ty Cổ phần Văn hóa Phương Nam. Đến nay, cùng với các đối tác lớn như Tập đoàn Envoy Media (Mỹ), Longman (Anh), Indochina Capital, Caravelle Fund, East
            Media Holdings Incorpration (EMHI) ... Phương Nam đang phát triển sang các lĩnh vực như kinh doanh khai thác cụm rạp chiếu phim cao cấp, phát hành độc quyền... đón đầu thời kỳ hội nhập mới trong tương lai.
        </p>
    </div>
</div>
<!-- Intro Phương Nam -->
